---
# Namespace
apiVersion: v1
kind: Namespace
metadata:
  labels:
    name: democratic-csi
  name: democratic-csi

---
# HelmChart
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: democratic-csi
  namespace: kube-system
spec:
  repo: https://democratic-csi.github.io/charts/
  chart: democratic-csi
  targetNamespace: democratic-csi
  valuesContent: |-
    csiDriver:
      name: "org.democratic-csi.iscsi"

    storageClasses:
    - name: truenas-iscsi
      defaultClass: true
      reclaimPolicy: Delete
      volumeBindingMode: Immediate
      allowVolumeExpansion: true
      parameters:
        fsType: xfs

    driver:
      config:
        driver: freenas-iscsi
        instance_id: kube
        httpConnection:
          protocol: http
          host: 10.0.50.60
          port: 80
          apiKey: @apiKey@
          apiVersion: 2
        sshConnection:
          host: 10.0.50.60
          port: 22
          username: k8s-csi
          privateKey: @privateKey@
        zfs:
          cli:
            sudoEnabled: true
            paths:
              zfs: /sbin/zfs
              zpool: /sbin/zpool
              sudo: /usr/bin/sudo
              chroot: /usr/sbin/chroot
          datasetParentName: KubeStorage/pv/iscsi/v
          detachedSnapshotsDatasetParentName: KubeStorage/pv/iscsi/s
          zvolEnableReservation: false
        iscsi:
          targetPortal: "10.0.50.60:3260"
          targetPortals: []
          namePrefix: csi-
          nameSuffix: "-cluster"
          targetGroups:
            - targetGroupPortalGroup: 1
              targetGroupInitiatorGroup: 1
              targetGroupAuthType: None
          extentInsecureTpc: true
          extentXenCompat: false
          extentDisablePhysicalBlocksize: true
          extentBlocksize: 4096
          extentAvailThreshold: 0
